img {
  width: 50%;
  height: 50%;
}
app-icon {
  width: 3.3rem;
  height: 3.3rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-buttons {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.headline-title {
  font-size: 2.2rem;
}
p {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .action-buttons {
    gap: 0.5rem;
  }
  app-filter {
    margin-right: -4rem;
  }
}
