button {
  padding: 1.6rem 2.2rem;
  font-weight: 700;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 30px;
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 0.07rem;
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--grey);
}
.addBtn {
  width: 100%;
  background-color: var(--add);
  padding: 1.5rem 0;
  transition: 0.3s;
}
.draftBtn {
  background-color: var(--side-menu-color);
  color: var(--text-primary-color);
}
.cancelBtn {
  background-color: var(--cancel);
}
@media (max-width: 500px) {
  button {
    font-size: 1.3rem;
  }
}
